<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

      <div class="site-container">

        {% include header.html %}

        <div class="site-body">
            {% if page.layout == 'home' %}
              <section id="icons-container" >
                <div id="jumbotron-wrapper">
                  <div id="center">

                      <h1 class="main-heading">
                        <span class="main-heading-name">Ayo Ayco</span> is a <br />software engineer
                        <br />from The Philippines
                      </h1>
                      <h2 class="main-sub-heading pen-marker">now in The Netherlands!</h2>

                      <a href="https://drive.google.com/file/d/1MhN8qWRJnSHM_epU9GFQL9lEsMFtHWQK/view?usp=sharing" target="_blank" class="primary-btn download-btn">Download CV</a>
      
                  </div>
                </div>
              </section>
              <div id="alon-div"></div>
            {% endif %}
            
            <main class="page-content" aria-label="Content">
              <div class="wrapper">
                {{ content }}
              </div>
            </main>
        </div>

        {% include footer.html %}

    </div>
  </body>

</html>
