---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    background: #333;
    min-width: 315px;
}

em.home {
    color: #ff19ee;
}

section#icons-container {
    background: #002FB3; //#0140ff; // #B309a6;
    height: 550px;
    width: 100%;

    #jumbotron-wrapper {
        padding: 100px 100px 0;
        width: 1000px;
        margin: 0 auto;

        h1 {
            font-size: 50px;
        }

        h2.main-sub-heading {
            font-size: 50px;
            color: #ffdf8a;
        }

        #center {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        #left {
            width: 50%;
            float: left;
        }

        #right {
            float: left;
            width: 50%;

            #blog-link {
                display: block;
                height: 300px;
                background-image: url("./images/ayo_blog-min.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-color: white;
            }
        }
    }
}

div#alon-div {
    background-image: url("./images/alon.svg");
    background-color: #002FB3; // #0140ff; // #B309a6;
    height: 24px;
}

div#announcements {
    background-color: white;
    color: #555;
    text-align: center;
    letter-spacing: 3px;
    padding: 30px;
}

h1.page-heading {
    text-align: center;
    font-weight: bold;
    font-size: 72px;
}

.pen-marker {
    font-family: "Caveat";
}

// .main-sub-heading-name, 
.main-heading-name {
    font-weight: bold;
}

div#main-jumbotron {
    margin: 20px auto 0;
    padding: 0 0 0px;
    text-align: center;
    width: 100%;
}

div#main-jumbotron #more-profile {
    padding: 0 15px 15px;
    display: none;
    line-height: 1.5;
    text-align: left;
}
div#main-jumbotron #profile {
    font-size: xx-large;
    font-weight: bold;
    padding: 0 15px 15px;
    margin: 0px;
}
div#main-jumbotron #profile a {
    font-size: medium;
    display: inline-block;
    min-width: 80px;
    text-align: left;
}

div#main-jumbotron #profile em {
    font-weight: bold;
    font-style: normal;
}

h3.section-title {
    font-size: x-large !important;
    font-weight: bold;
    margin: 50px 0 0 !important;
}

.site-title {
    font-size: 28px;
    color: white !important;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

div.nav-wrapper {
    width: calc(100% - 60px);
    padding: 0 30px;
    margin: 0 auto;
}

div.wrapper {
    max-width: 720px;
}

div#sections {
    width: 80%;
    max-width: 600px;
    max-width: 100% !important;
    line-height: 1.5;
    margin: 0 auto;
}
div#sub-sections {
    display: flex;
}
div#sub-sections * {
    min-width: calc(450px / 2);
}

.page-content {
    width: 100%;
    margin: 0px auto !important;
    background-color: transparent !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    padding: 30px 0 100px;
}

.primary-btn,
.primary-btn:visited {
    color: #252525 !important;
    display: inline-block;
}

.primary-btn {
    background-color: #ffb800; // #fc0;
    width: 200px;
    text-align: center;
    line-height: 2;
    color: #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.site-nav .page-link:not(:last-child) {
    margin-right: 0px !important;
}

a,
.site-nav .page-link {
    color: #ffb800; // #fc0;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

@media screen and (max-width: 1100px) {
    section#icons-container {
        height: 450px;

        #jumbotron-wrapper {
            padding: 100px 30px 0;
            width: 500px;
            margin: 0 auto;

            #left,
            #center {
                width: 100%;
                text-align: center;

                h1 {
                    font-size: 35px;
                }

                h2.main-sub-heading {
                    font-size: 35px;
                }

                p {
                    font-size: normal;
                }
            }

            #right {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    section#icons-container {
        height: 340px;

        #jumbotron-wrapper {
            padding: 34px 0;
            width: calc(100% - 60px);
            margin: 0 auto;

            #left,
            #center {
                width: 100%;
                text-align: center;
                h1 {
                    font-size: 32px;
                }

                h2.main-sub-heading {
                    font-size: 32px;
                }

                p {
                    font-size: normal;
                }
            }
            #right {
                display: none;
            }
        }
    }

    div#main-jumbotron {
        margin-top: 0px;
        padding: 0 0 0px;
        text-align: center;
        width: 75%;
    }

    div#main-jumbotron #profile {
        font-size: x-large;
    }
    .download-btn {
        font-size: 21px;
    }

    .site-nav .trigger {
        padding: 15px;
    }
    .site-nav .trigger a.page-link {
        margin-bottom: 10px;
    }
    .site-nav a.page-link {
        margin-left: 0px;
    }
    .site-nav {
        margin-top: 0px;
        background-color: #2c2c2c !important;
        border: 0px !important;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        z-index: 1;
        text-align: left;
    }
    div#sub-sections {
        display: block;
    }
}

.download-btn {
    margin: 15px 0;
    font-size: large !important;
}

.site-nav .page-link:hover,
.site-nav .page-link.current {
    color: #ffffff;
    background-color: #252525;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.site-nav .page-link {
    color: #ffffff;
}
.site-nav .page-link,
.primary-btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 0.75em;
    padding: 0.5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

hr {
    margin: 50px 0;
}

a.post-link,
h1.post-title {
    color: #ffb800; // #fc0;
    font-weight: bold;
    display: block;
    font-size: 2em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1.post-title {
    color: #fff;
    font-weight: bold;
    font-size: 42px;
    line-height: 1.5;
}

ul.post-list {
    li {
        margin-bottom: 70px;

        p,
        ol li,
        ul li {
            font-size: 25px;
            line-height: 1.5;
        }
    }
}

article.post {
    div.post-content {
        p,
        ol li,
        ul li {
            font-size: 25px;
            line-height: 1.5;
        }
        p {
            margin-bottom: 25px;
        }
    }
}

a.site-email {
    font-size: xx-small;
}

a:hover,
a:visited {
    color: #f90;
    text-decoration: none;
}

.desc-list,
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    color: #ddd;
}

.site-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 -2px 6px #000;
}

.site-header,
.site-footer {
    background: #2b2b2b;
    border: 0px;
}

.site-desc {
    top: 0px;
    color: #efefef;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.site-desc-wrapper {
    float: left;
    position: relative;
    top: 0;
    left: 90px;
}

.site-title-wrapper {
    float: left;
}

.site-title-desc-wrapper {
    float: left;
    width: 200px;
}

/**/
html,
body {
    font: 300 21px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ddd;
    background-color: #333;
    -webkit-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    margin: 0;
}

/**/
.text-js {
    opacity: 0;
}
.cursor {
    display: block;
    position: absolute;
    height: 50%;
    top: 12px;
    right: -5px;
    width: 3px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
