---
layout: default
---

<div class="home">
  <!-- start content-->
  {{ content }}
  <!-- end content-->

  <!-- start blog list-->
  {% if site.posts.size > 0 %}
  <h3 id="{page.list-title}" class="section-title">{{ page.list-title }}</h3>
  <h4 class="section-subtitle">Case Studies</h4>
    <ul>
      {% for category in site.categories %}
        {% if category[0] == "projects" %}
          {% for post in category[1] %}
            <li>
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <span class="post-meta">{{ post.project-date }}</span>: <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              <!--div>
                  <p>{{ post.excerpt }}</p>
                  <a href="{{ post.url | relative_url }}" class="page-link">Read More</a>
              </div--> 
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>

  {% endif %}
  <!-- end blog list-->

</div>
